[core]
	excludesfile = /Users/theoyrus/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Suryo Prasetyo W
	email = the.oyrus@gmail.com
[commit]
	template = /Users/theoyrus/.stCommitMsg
